In [ ]:
# Pandas : to analize data....
    
# json, csv, excel, sql database.....

# 1) Analyzing
# 2) cleaning
# 3) exploring
# 4) Manuplulationg data

In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/krissroot/.local/lib/python3.10/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/krissroot/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in /home/krissroot/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /home/krissroot/.local/lib/python3.10/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
DEPRECATION: distro-info 1.1build1 has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of distro-info or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063
DEPRECATION: python-debian 0.1.43ubuntu1 has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of python-debian or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [2]:
# 1) DataFrame
# 2) Series


mydata = {
    "car" : ["dta1", "volvo", "maruti"],
    "carnumber" : [112, 2323, 334]
}

In [8]:
import pandas as pd

In [4]:
mtdata = pd.DataFrame(mydata)

In [5]:
mtdata

      car  carnumber
0    dta1        112
1   volvo       2323
2  maruti        334

In [4]:
a = [1, 2, 3, 4]

In [5]:
# import pandas as pd
# myv = pd.Series(a, index=["x", "y", "z", "e"])

In [10]:
import pandas

xyz = pandas.Series(a, index=["x", "y", "z", "o"])

In [11]:
xyz

x    1
y    2
z    3
o    4
dtype: int64

In [13]:
xyz['o']

4

In [14]:
cal = {
    "day1" : 430,
    "day2" : 90,
    "day3" : 200
}

In [15]:
var = pandas.Series(cal)

In [16]:
var

day1    430
day2     90
day3    200
dtype: int64

In [17]:
# DataFrame

data = {
    "calaory" : [230, 893, 78, 90],
    "duration" : [2, 3, 7, 12]
}

In [18]:
data

{'calaory': [230, 893, 78, 90], 'duration': [2, 3, 7, 12]}

In [25]:
import pandas as pd

newdata = pd.DataFrame(data)

In [26]:
newdata

   calaory  duration
0      230         2
1      893         3
2       78         7
3       90        12

In [29]:
newdata.loc[1]

calaory     893
duration      3
Name: 1, dtype: int64

In [30]:
# how to read files in pandas....

df = pd.read_csv("data.csv")

In [35]:
# viewind data

df.head(12)

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7

In [37]:
df.tail(7)

     Duration  Pulse  Maxpulse  Calories
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data.csv")

In [4]:
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]